<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.GoogleTest"></class>
      <class name="TestNG.AnnotationTest"/>
      <class name="TestNG.DependsOnMethodTest">
      	<parameter name="url" value="https://my.crmnext.com/sn/app/login/login"></parameter>
      	<parameter name="username" value="shikha.behal@crmnext.in"></parameter>
      	<parameter name="password" value="Ritesh@1996"></parameter></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
